{%extends 'base.html'%}

{% block body%}
   
<style>
    form {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px; 
}
</style>



<form method="POST">
    {%csrf_token%}
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="username" >
        <label for="floatingInput">User name</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

 
  {%endblock%}
