{% extends 'base.html'%}
{%block body%}
<style>
    ul {
        display: none;
    }
    form {

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
</style>
<body>
<form method="POST" novalidate>
           {%csrf_token%}
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">User name</label>
              <input type="text" class="form-control" name="username">
              <div  class="form-text">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password confirmation</label>
              <input type="password" class="form-control" name="password2">
              <div class="form-text">Enter the same password as before, for verification.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">First name</label>
              <input type="text" class="form-control" name="first_name">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Last name</label>
              <input type="text" class="form-control" name="last_name">
            </div>
          
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Next</button>
            </form>>
    </body>
{% endblock%}






