{% extends 'base.html'%}

{%block body%}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<table class="table">
    <thead>
      <tr>
        <th scope="col">.</th>
        <th scope="col">name</th>
        <th scope="col">bio</th>
        <th scope="col">locations</th>
        <th scope="col">birth</th>
      </tr>
    </thead>
    {%for i in pro%}
    <tbody>
      <tr>
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
        <td  class="w3-center"><img src="{{i.img.url}}" class="w3-circle" style="height:70px;width:70px" alt="Avatar"></td>
        </div>
        </div>
        <td> <a href="{%url 'register:profile' i.id%}">{{i.user.first_name}} {{i.user.last_name}}</a></td>
        <td>{{i.bio}}</td>
        <td>{{i.addres}}</td>
        <td>{{i.birth}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%endblock%}