{% extends 'base.html'%}

{%block body%}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<body>
  <form method="POST" action="{%url 'home:search'%}">
    {%csrf_token%}
    <input type="text" class="form-control" name="search" >
    <button type="submit">search</button>
  </form>
  {%for i in post%}
  <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <a href="{%url 'register:profile' i.user.profile.id%}"> <img src="{{i.user.profile.img.url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"></a>
    <span class="w3-right w3-opacity">{{i.time}}</span>  
   <a href="{%url 'register:profile' i.user.profile.id%}">  <h4>{{i.user.first_name}} {{i.user.last_name}}</h4><br></a>
    <hr class="w3-clear">
    
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half">
          <img src="{{i.img.url}}" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
          <p>{{i.text}}</p>
          </div>
        </div>

    <a href="{%url 'home:detail' i.id%}" class="w3-button w3-theme-d2 w3-margin-bottom">Detail</a>

  </div>
 

  {%endfor%}
</body>
{%endblock%}
